
.container {
    font-family: 'Montserrat', sans-serif;
    margin: 60px auto;
}
.list-inline {
    text-align: center;
    margin-bottom: 30px;
}
.title {
    font-weight: bold;
    font-size: 26px;
}

th.today {
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    color: orange;
}

th.dag {
    text-align: center;
    border: 2px solid black;
    padding: 10px;
}
td.nummer {
    height: 100px;
}
th.dag:nth-of-type(2), td.nummer:nth-of-type(2) {
    color: red;
}

th.dag:nth-of-type(8),th.dag:nth-of-type(7) {
    color: #0D42CC;
}


th.week {
    font-size: 15pt;
    border: 2px solid black;
    padding-left: 10px;
}

td.naam {
    border: 2px solid black;
    padding-left: 10px;
    cursor: pointer;
}

td.naam:hover {
    font-weight: bold;

}

td.content {
    border: 1px solid black;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 300px;
    font-size: 36px;
    margin-right: 50px;
}

th.week {
    padding: 2vw;
}

.begintijd, .eindtijd {
    margin-left: 15px;
    padding-right: 20px;
    padding-top: 15px;
    color: white;
}

.eindtijd {
    margin-left: 23px;
}

.inplannen {
    margin-left: 30%;
    margin-top: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
