
.container {
    font-family: 'Montserrat', sans-serif;
    margin: 60px auto;
}
.list-inline {
    text-align: center;
    margin-bottom: 30px;
}
.title {
    font-weight: bold;
    font-size: 26px;
}
th.dag {
    text-align: center;
}
td.nummer {
    height: 100px;
}
th.dag:nth-of-type(2), td.nummer:nth-of-type(2) {
    color: red;
}
th.dag:nth-of-type(8),th.dag:nth-of-type(7) {
    color: #0D42CC;
}
.today {
    background-color: #0D42CC;
    color: white;
}
