body {

}

.top-list {
    font-size: 18pt;
    letter-spacing: 1px;
    margin-right: 10vw;
}

td {
    font-size: 12pt;
    padding: 10px;
    border-bottom: 2px solid #0D42CC;
    border-bottom-color: linear-gradient(90deg, rgba(13,66,204,1) 0%, rgba(93,13,204,1) 100%);
    border-collapse: collapse;
}

